<div class="wrapper">
        <!-- Sidebar  -->
  <nav id="sidebar">
    <%= render "/pages/sidebar", active: "my_meetings" %>
  </nav>
    <!-- Page content is displayed _content.html.erb -->
<div id="content">
  <!-- logo -->
  <div class="d-flex justify-content-center">
    <%= link_to root_path do %>
    <%= image_tag("logo_genx", height: '100', width: '100') %>
    <% end %>
  </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <!-- Collapse sidebar button -->
            <button type="button" id="sidebarCollapse" class="btn btn-info">
                <i class="fas fa-align-left"></i>
                <span></span>
            </button>
            <!-- Filter button -->
            <%= link_to "Pick a date !", new_experience_path, class: "btn btn-ghost" %>
            <div>
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#"><i class="fas fa-filter"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- The Cards -->


        <h1>Experiences I booked:</h1>
            <div class="cards container m-5">
              <% @meetings.each do |meeting| %>
                  <%= link_to experience_path(meeting.experience), class: "text-decoration-none" do %>
                    <div class="card-trip">
                      <img src="https://kitt.lewagon.com/placeholder/users/random" />
                      <div class="card-trip-infos">
                        <div>
                          <h2><%= "#{meeting.experience.first_name} #{meeting.experience.last_name}" %></h2>
                          <p><%= "#{meeting.experience.age} years" %></p>
                        </div>
                        <div>
                        <h2 class="card-trip-pricing"><%= "Date: #{meeting.scheduled_time.strftime("%m/%d/%Y")}" %></h2>
                        <p><%= "#{meeting.scheduled_time.strftime("Time: %I:%M%p")}" %></p>
                        </div>
                      </div>
                      <%#= link_to "Book a Meeting", new_experience_meeting_path(experience), class: "btn btn-primary justify-content-center" %>
                    </div>
                  <% end %>
                <% end %>

            </div>
</div>
</div>
