<div class="wrapper">
        <!-- Sidebar  -->
  <nav id="sidebar">
    <%= render "/pages/sidebar", active: "my_meetings" %>
  </nav>
    <!-- Page content is displayed _content.html.erb -->
<div id="content">
  <!-- logo -->
  <div class="d-flex justify-content-center">
    <%= link_to root_path do %>
    <%= image_tag("logo_genx", height: '100', width: '100') %>
    <% end %>
  </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <!-- Collapse sidebar button -->
            <button type="button" id="sidebarCollapse" class="btn btn-info">
                <i class="fas fa-align-left"></i>
                <span></span>
            </button>
            <!-- Filter button -->
            <%= link_to "Pick a date !", new_experience_path, class: "btn btn-ghost" %>
            <div>
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#"><i class="fas fa-filter"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- The Cards -->
    <h1>Experiences I Own:</h1>
    <% @meetings.each do |meeting| %>
      <% if meeting.experience.user == current_user %>
        <div class="my-3">
          <%= meeting.user.email %>
          <%= current_user.email %>
          <%= "On #{meeting.scheduled_time},
          you will be meeting #{meeting.experience.first_name}
                              #{meeting.experience.last_name},
                              at #{meeting.location}" %>
        </div>
      <% end %>
      <% end %>
        <h1>Experiences I booked:</h1>
          <% @meetings.each do |meeting| %>
            <% if meeting.experience.user != current_user %>
              <div class="my-3">
                <%= meeting.user.email %>
                <%= current_user.email %>
                <%= "On #{meeting.scheduled_time},
                you will be meeting #{meeting.experience.first_name}
                                    #{meeting.experience.last_name},
                                    at #{meeting.location}" %>
              </div>
            <% end %>
    <% end %>
</div>
</div>

    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <!-- jQuery Custom Scroller CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#sidebar").mCustomScrollbar({
                theme: "minimal"
            });

            $('#sidebarCollapse').on('click', function () {
                $('#sidebar, #content').toggleClass('active');
            });


        });


    </script>
