<div id="content">
      <%= @experience.first_name %>
      <%= @experience.last_name %>
      <%= @experience.age %>
<div class="d-flex" style="width: 100px auto;">
    <%= simple_form_for [@experience, @meeting] do |f| %>
      <%= f.input :location %>
      <%= f.input :scheduled_time, as: :string, required: true, input_html: {class: "datepicker"} %>
      <div class="d-flex justify-content-between">
      <%= simple_form_for :search, method: "get" do |f| %>
        <%= f.button :submit, class: "btn btn-info" %>
      <% end %>
        <%= link_to 'Back to Home Page', my_meetings_path, class: "btn btn-warning" %>
      </div>
    <% end %>
</div>

</div>
