
<!-- Page Content  -->
<div id="content">
  <!-- logo -->
  <div class="d-flex justify-content-center">
    <%= link_to root_path do %>
    <%= image_tag("logo_genx", height: '100', width: '100') %>
    <% end %>
  </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <!-- Collapse sidebar button -->
            <button type="button" id="sidebarCollapse" class="btn btn-info">
                <i class="fas fa-align-left"></i>
                <span></span>
            </button>
            <!-- Filter button -->
            <%= link_to "Offer an experience!", new_experience_path, class: "btn btn-ghost" %>
            <div>
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#"><i class="fas fa-filter"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- The Cards -->
    <div class="separation"></div>
    <% @experiences.each do |experience| %>
      <%= link_to experience_path(experience), class: "text-decoration-none" do %>
      <div class="notification">
        <div class="notification-content col-2">
          <% if experience.photo.attached? == true %>
            <%= cl_image_tag experience.photo.key, height: 300, width: 400, crop: :fill %>
          <% else %>
            <img src="https://kitt.lewagon.com/placeholder/users/random" alt="">
          <% end %>
        </div>
        <div class="notification-content col-2">
          <p><%= "#{experience.first_name} #{experience.last_name}" %></p>
        </div>
        <div class="notification-content col-1">
          <p><%= "#{experience.age} years" %></p>
        </div>
        <div class="notification-content col-1">
          <p><%= "name" %></p>
        </div>
        <div class="notification-content col-1">
          <p><%= "name" %></p>
        </div>
      </div>
      <% end %>
    <% end %>
</div>
