
<!-- Page Content  -->
<div id="content">
  <!-- logo -->
  <div class="d-flex justify-content-center">
    <%= link_to root_path do %>
    <%= image_tag("logo_genx", height: '100', width: '100') %>
    <% end %>
  </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid justify-content-center" style="box-shadow: 0 0 10px rgba(0,0,0,0.2);">
            <!-- Filter button -->
            <h2 style="margin: 5px;">Book an experience right now!</h2>
            <div>
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#"><i class="fas fa-filter"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- The Cards -->
    <div class="container my-5">
      <div class="cards">
        <% @experiences.each do |experience| %>
          <%= link_to experience_path(experience), class: "text-decoration-none" do %>
            <div class="card-trip">
              <img src="<%= experience.img_url %>" />
              <div class="card-trip-infos">
                <div>
                  <h2><%= "#{experience.first_name} #{experience.last_name}" %></h2>
                  <p><%= "#{experience.age} years" %></p>
                </div>
                <div>
                  <h2 class="card-trip-pricing">Language</h2>
                  <p class="card-trip-pricing"><%= experience.languages.first.name %></p>
                </div>
              </div>
              <%#= link_to "Book a Meeting", new_experience_meeting_path(experience), class: "btn btn-primary justify-content-center" %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
</div>
