<%= render 'navbar' %>
  <!-- Banner -->
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://d26kajfrxb04kx.cloudfront.net/wp-content/uploads/2018/02/Sixty-and-Me_Why-Women-Over-60-Should-Enjoy-Friendships-with-Older-People.jpg);">
  <div class="container message">
    <h1>Gen-ex will make you fulfill your goals!</h1>
    <p>Exercise your best skills while meeting different people from all around the world!</p>
    <%= simple_form_for :search, url: experiences_path, method: :get do |f| %>
      <div class="search-form-control form-group">
        <%= text_field_tag :query,
          params[:query],
          class: "form-control string required",
          placeholder: "Find an experience by name, language or skill"  %>
        <%= submit_tag "Search", class: "btn btn-flat" %>
      </div>
    <% end %>
  </div>
</div>
<div class="mid-session">
  <div class="cards container">
    <div class="card-message">
      <div>
        <i class="fab fa-connectdevelop"></i>
      </div>
      <div class="card-title">
        Connect
      </div>
      <div class="card-description">
        Connect to people in your neighborhood
      </div>
    </div>
    <div class="card-message">
      <div>
        <i class="fa fa-hands-helping"></i>
      </div>
      <div class="card-title">
        Help
      </div>
      <div class="card-description">
        Help other people achieve their goals
      </div>
    </div>
    <div class="card-message">
      <div>
        <i class="fa fa-share-alt"></i>
      </div>
      <div class="card-title">
        Share
      </div>
      <div class="card-description">
        Share your knowledge to the new generation
      </div>
    </div>
  </div>
</div>
<div class="container mt-5">
  <div class="cards">
    <div class="card-trip">
      <img src="https://res.cloudinary.com/caiazzo14/image/upload/v1583257961/seed%20test%20le%20wagon/old_guy_1_iqdle4.jpg" />
      <div class="card-trip-infos">
        <div>
          <h2>Julissa Cassin</h2>
          <p>Loves to walk!</p>
        </div>
        <h2 class="card-trip-pricing">English</h2>
      </div>
    </div>
<div class="card-trip">
      <img src="https://res.cloudinary.com/caiazzo14/image/upload/v1583257961/seed%20test%20le%20wagon/old_guy_2_l9q4if.jpg" />
      <div class="card-trip-infos">
        <div>
          <h2>Irving Schulist</h2>
          <p>Master of Cake Baking</p>
        </div>
        <h2 class="card-trip-pricing">French</h2>
      </div>
    </div>
<div class="card-trip">
      <img src="https://res.cloudinary.com/caiazzo14/image/upload/v1583257961/seed%20test%20le%20wagon/old_woman_4_j9lo76.jpg" />
      <div class="card-trip-infos">
        <div>
          <h2>Hilda Wilkinson</h2>
          <p>Best green thumb in town!</p>
        </div>
        <h2 class="card-trip-pricing">Spanish</h2>
      </div>
    </div>
  </div>
  <div id="map" class="my-4" style="height: 600px;" data-markers="<%= @markers.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>


<%= render '/pages/footer' %>
