<div class="wrapper">
  <nav id="sidebar">
    <%= render "/pages/sidebar" %>
  </nav>
  <div id="content">
    <div class="d-flex justify-content-center">
      <%= link_to root_path do %>
      <%= image_tag("logo_genx", height: '100', width: '100') %>
      <% end %>
  </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <!-- Collapse sidebar button -->
            <button type="button" id="sidebarCollapse" class="btn btn-info">
                <i class="fas fa-align-left"></i>
                <span></span>
            </button>
            <!-- Filter button -->
            <%= link_to "Offer an experience!", new_experience_path, class: "btn btn-ghost" %>
            <div>
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#"><i class="fas fa-filter"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
      <div class="notification-show d-flex justify-content-between m-3">
        <div>
            <% if @experience.photo.attached? == true %>
              <%= cl_image_tag @experience.photo.key, height: 300, width: 400, crop: :fill %>
            <% elsif @experience.gender == "Male" %>
              <%= image_tag("old_man") %>
            <% else %>
              <%= image_tag("old_woman") %>
            <% end %>
        </div>
        <div>
          <p>This is <%= @experience.gender == "Male" ? "Mr." : "Mrs." %> <%= "#{@experience.first_name} #{@experience.last_name}." %></p>
          <p><%= @experience.gender == "Male" ? "He" : "She" %> is a <%= @experience.age %> years old
            who is fluent in <strong>Language</strong> and likes to talk about <strong>skill</strong>.</p>
        </div>
      </div>
    <div class="d-flex justify-content-between mx-4">
    </div>
     <div style="text-align: center;">
      <%= link_to 'Book a meeting (or a room)', experiences_path, class: "btn btn-warning" %>
    </div>
    <br>
    <div style="text-align: center;">
      <%= link_to 'Back to Home Page', experiences_path, class: "btn btn-warning" %>

    <% if policy(@experience).update? %>
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#exampleModal">
        Edit Experience
      </button>
    <% end %>
    </div>
    </div>

  </div>

</div>
    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <!-- jQuery Custom Scroller CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#sidebar").mCustomScrollbar({
                theme: "minimal"
            });

            $('#sidebarCollapse').on('click', function () {
                $('#sidebar, #content').toggleClass('active');
                $('.collapse.in').toggleClass('in');
                $('a[aria-expanded=true]').attr('aria-expanded', 'false');
            });
        });
    </script>


<!-- --------------------------------------------------- -->






<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title" id="exampleModalLabel">Edit your experience</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">


        <%= simple_form_for(@experience) do |f| %>
        <%= f.input :first_name %>
        <%= f.input :last_name %>
        <%= f.input :gender %>
        <%= f.input :age %>
        <%= f.input :location %>
        <%= f.input :photo, as: :file %>
        <div class="d-flex justify-content-between">
          <%= f.button :submit, class: "btn btn-info" %>
      <% end %>



      </div>
    </div>
  </div>
</div>

