<%= render "/pages/navbar" %>
  <div id="content">
    <div class="d-flex justify-content-center">
      <%= link_to root_path do %>
      <%= image_tag("logo_genx", height: '100', width: '100') %>
      <% end %>
  </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <div>
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#"><i class="fas fa-filter"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
      <div class="notification-show d-flex justify-content-between m-3">
        <div>
            <img src="<%= @experience.img_url %>" alt="" style="width: 350px; ">
        </div>


        <div>


        <div>
          <p>This is <%= @experience.gender == "Male" ? "Mr." : "Mrs." %> <%= "#{@experience.first_name} #{@experience.last_name}." %></p>
        <br><br>
          <p><%= @experience.gender == "Male" ? "He" : "She" %> is a <%= @experience.age %> years old
            who is fluent in <%= @experience.languages.first.name %> and likes to talk about <%= @experience.skills.first.name %>.</p>
        <br><br>
        </div>
        <h4 style="text-align: center;">Languages I Speak:</h4>
        <div>
          <% @experience.languages.each do |language| %>
          <div class="d-flex justify-content-around align-items-center">
            <div>
              <p> <%= "Name: #{language.name}" %> </p>
            </div>
            <div>
              <p> <%= "Level: #{language.level}" %></p>

            </div>
          </div>
          <% end %>
        </div>
        <h4 style="text-align: center;">Skills I Know:</h4>
        <div>
          <% @experience.skills.each do |skill| %>
          <div class="d-flex justify-content-around align-items-center">
            <div>
              <p> <%= "Name: #{skill.name}" %> </p>
            </div>

          </div>
          <% end %>
        </div>

        <div class="text-align-bottom m-3">
          <% if policy(@experience).update? %>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#exampleModal">
              Edit Experience
            </button>

            <%= link_to "Delete", experience_path(@experience), method: :delete, class: "btn btn-danger" %>
          <% end %>
        </div>
        </div>
      </div>
    <div class="d-flex justify-content-between mx-4">
    </div>
     <div style="text-align: center;">
      <%= link_to 'Book a meeting', new_experience_meeting_path(@experience), class: "btn btn-warning" %>
    </div>
    <br>
    <div style="text-align: center;">

    </div>
    </div>

  </div>



<!-- --------------------------------------------------- -->

<!-- Modal Update-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title" id="exampleModalLabel">Edit your experience</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">


        <%= simple_form_for(@experience) do |f| %>
        <%= f.input :first_name %>
        <%= f.input :last_name %>
        <%= f.input :gender %>
        <%= f.input :age %>
        <%= f.input :location %>
        <%= f.input :photo, as: :file %>
        <div class="d-flex justify-content-between">
          <%= f.button :submit, class: "btn btn-info" %>
      <% end %>



      </div>
    </div>
  </div>
</div>
</div>

