
  <nav id="sidebar">
    <%= render "/pages/sidebar" %>
  </nav>
  <div id="content">
    <div class="d-flex justify-content-center">
      <%= link_to root_path do %>
      <%= image_tag("logo_genx", height: '100', width: '100') %>
      <% end %>
  </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <!-- Collapse sidebar button -->
            <button type="button" id="sidebarCollapse" class="btn btn-info">
                <i class="fas fa-align-left"></i>
                <span></span>
            </button>
            <!-- Filter button -->
            <%= link_to "Offer an experience!", new_experience_path, class: "btn btn-ghost" %>
            <div>
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#"><i class="fas fa-filter"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
      <div class="notification-show d-flex justify-content-between m-3">
        <div>
            <% if @experience.photo.attached? == true %>
              <%= cl_image_tag @experience.photo.key, height: 300, width: 400, crop: :fill %>
            <% elsif @experience.gender == "Male" %>
              <%= image_tag("old_man") %>
            <% else %>
              <%= image_tag("old_woman") %>
            <% end %>
        </div>


        <div>


        <div>
          <p>This is <%= @experience.gender == "Male" ? "Mr." : "Mrs." %> <%= "#{@experience.first_name} #{@experience.last_name}." %></p>
          <p><%= @experience.gender == "Male" ? "He" : "She" %> is a <%= @experience.age %> years old
            who is fluent in <strong>Language</strong> and likes to talk about <strong>skill</strong>.</p>
        </div>


        <div>
          <% if policy(@experience).update? %>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#exampleModal">
              Edit Experience
            </button>

            <%= link_to "Delete", experience_path(@experience), method: :delete %>
          <% end %>
        </div>
        </div>

      </div>
    <div class="d-flex justify-content-between mx-4">
    </div>
     <div style="text-align: center;">
      <%= link_to 'Book a meeting', new_experience_meeting_path(@experience), class: "btn btn-warning" %>
    </div>
    <br>
    <div style="text-align: center;">

    </div>
    </div>

  </div>



<!-- --------------------------------------------------- -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title" id="exampleModalLabel">Edit your experience</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">


        <%= simple_form_for(@experience) do |f| %>
        <%= f.input :first_name %>
        <%= f.input :last_name %>
        <%= f.input :gender %>
        <%= f.input :age %>
        <%= f.input :location %>
        <%= f.input :photo, as: :file %>
        <div class="d-flex justify-content-between">
          <%= f.button :submit, class: "btn btn-info" %>
      <% end %>



      </div>
    </div>
  </div>
</div>

